
@{
    ViewBag.Title = "Novost1";
}

<h2 class="headers">Писателката Ксенија Николова се дружеше на саемот со најмладите!</h2>

<p class="rows">
    <img src="~/sliki/ksenija.png" class="img" />
    Македонската писателка Ксенија Николова на овогодинешниот саем на книгата се дружеше со најмладите во ВИП арената на СЦ Борис Трајковски,
    каде што ја промовираше својата нова книга под наслов "Макар уште еднаш".
    Стотици насмени лица ја дочекаа, се забавуваа со неа и си купија книга со нејзин потпис.

    Еве и дел од нејзините напишани зборови:

    „Што си се заљубила баш во мене?“ , ќе ја прашав јас понекогаш.
    „Мислиш дека не си за сакање?“, ќе одговореше таа самоуверено.
    Ќе ја наведнев главата и ќе се насмеев. Тогаш не можев да признаам, но сега сум сигурен дека беше убаво да се има некој во животот кој веруваше во мене.
    Некој кој веруваше во мојата способност да љубам, во моето лице, во мојата душа, во моите очи, во мојата насмевка, во моите солзи.

    Сите што не успеавте да ја набавите книгата, од 17.09.2018 книгата на Ксенија Николова ќе биде изложена во просториите на нејзината издавачка куќа Матица
    Македонска.
</p>


<style>
    .rows {
        margin: 20px;
        margin-top: 0;
        white-space: pre;
        background: #ecf0f1;
        width: 1100px;
    }

    .headers {
        margin: 20px;
        margin-bottom: 0;
        background-color: #1ABC9C;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding: .84rem 2.14rem;
        font-size: 1.7rem;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        border: 0;
        -webkit-border-radius: .125rem;
        border-radius: .125rem;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        width: 1100px;
    }
</style>

