
@{
    ViewBag.Title = "Novost2";
}

<h2 class="headers">Ви ја претставуваме новата книга на Игор Џамбазов!</h2>

<p class="rows">
    <img src="~/sliki/igor.png" class="img" />
    Македонскиот писател, а покрај тоа и актер, шоумен, текстописец, режисер на музички спотови, музичар, ТВ водител и многу повеќе, во петокот ја издаде својата 
    нова книга "Улица Диши длабоко", која ја посвети на неговиот татко.
    „Улица Диши длабоко“ е збирка од најпознатите песни напишани или изведени од Игор Џамбазов. Покрај незаборавните блуз-стихови, тука се и забавните описи 
    за инспирацијата и процесот на нивното настанување, како и општествените (не)прилики, интимните исповеди и сите негови (не)згоди и пороци.
   
    Неговите зборови се:

    Пријателе мој,
    Во оваа книга ќе најдеш стихови кои навистина успеале да опстанат во ова време во кое инвазијата од кичот и шундот достигна кулминација.
    Ќе најдеш „хитови“ кои публиката и денес ги пее наизуст на моите концерти, но ќе најдеш и за тебе наполно непознати текстови кои се нашле
    тука само затоа што ми се мене посебно драги.
    На крајот ќе најдеш и некои стихови кои јас нескромно ги сместувам во графата – „поезија“. Е па, пријателе мој, читај... и диши длабоко.

    Епа, останува само да си ја набавите во продажните места на книжарници ТРИ, да ја прочитате и ... дишете длабоко.
</p>


<style>
    .img {
        width:400px;
    }
    .rows {
        margin: 20px;
        margin-top: 0;
        white-space: pre;
        background: #ecf0f1;
        width: 1100px;
    }

    .headers {
        margin: 20px;
        margin-bottom: 0;
        background-color: #1ABC9C;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding: .84rem 2.14rem;
        font-size: 1.7rem;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        border: 0;
        -webkit-border-radius: .125rem;
        border-radius: .125rem;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        width: 1100px;
    }
</style>

