@{
    ViewBag.Title = "ЗА НАС";
}
<br />
<h4 class="headers"><strong>@ViewBag.Title</strong></h4>


<p class="rows">

    Меѓународниот саем на книгата во Скопје се одржува секоја година и датира од далечната 1988 година, како значајна културна манифестација која ги обединува
    издавачите од Република Македонија и од регионот.

    Меѓународниот САЕМ НА КНИГАТА, како една од најзначајните културни манифестации во земјата обезбедува широка програма на изложување, вклучувајќи:
    - дела од домашни и странски автори;
    - современи и класични литературни дела,
    - стручна, научна и белетристичка литература;
    - енциклопедии;
    - дела од областа на културата и уметноста;
    - книги за млади и деца;
    - учебници и училишни прирачници и галантерија;
    - канцелариски материјали, опрема за графичка индустрија, хартија и репроматеријали;
    - современа опрема и прибор за училишта, факултети, просветни и истражувачки институти.

    Ја продолжуваме традицијата на Саемот на книгата, каде на едно место се претставуваат најголемите домашни издавачи, но и издавачи од регионот што го прави овој 
    саем еден од најатрактивните манифестации чиј број на посетители се движи околку 45.000.

    Во деновите на саемот, посетителите ги очекуваат бројни промоции, тематски средби и пригодни изложби, најновите изданија на домашните и странските издавачки
    куќи како и дружба со неколку автори.

    На саемот на книгата ќе се претстават 70-тина издавачки куќи од Македонија и од регионот (Србија, Црна Гора, Косово, Албанија), а меѓу позначајните се:
    - Сакам книги;
    - Издавачки центар ТРИ;
    - Матица Македонска;
    - Антилог;
    - Просветно дело;
    - Топер;
    и многу други.


</p>

<h4 class="headers">
    <strong>
        КОНТАКТ
    </strong>
    
</h4>
<p class="rows">
    Секој работен ден од 10:00 до 20:00 часот може да не добиете на телефонските броеви:

   
        +38977-111-222
        +38971-222-111
    

    или да испратите порака на нашиот официјален e-mail:
    
        <a href="mailto:saemnakniga@gmail.com">saemnakniga@gmail.com</a>
    
</p>

<h4 class="headers">
    <strong>
        ЛОКАЦИЈА
    </strong>
    
</h4>
<p class="rows">
    Саемот на книга ќе се одржи во ВИП aрената на СЦ Борис Трајковски:

    
        - Улица: Булевар Партизански Одреди бр. 5, Skopje 1000;
        - Google Maps: <a>https://goo.gl/maps/NgQtR8g7Lap</a>
    
</p>


<style>
    
    .rows {
        white-space: pre;
        background: #ecf0f1;
        
    }
    .headers {
        background-color: #1ABC9C;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding: .84rem 2.14rem;
        font-size: 1.7rem;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        margin: 0;
        border: 0;
        -webkit-border-radius: .125rem;
        border-radius: .125rem;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        width:200px;
    }
    
</style>


